# Xcode
*.xcworkspace
*.xcodeproj
*.xcconfig
*.xcsettings
*.xcuserstate

# video files
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.mpeg
*.mpg
*.webm
*.mpeg4
*.mpeg-4
*.mpeg4v
*.mpeg-4v
*.mpeg4video
*.mpeg-4video
*.mpeg4video
*.mpeg-4video
*.mpeg4video
*.mpeg-4video
*.mpeg4video
*.mpeg-4video
*.mpeg4video
*.mpeg-4video
*.mpeg4video
*.mpeg-4video
*.mpeg4video
*.mpeg-4video
*.mpeg4video
*.mpeg-4video
*.mpeg4video
*.mpeg-4video
*.mpeg4video
*.mpeg-4video
*.mpeg4video
*.mpeg-4video
*.mpeg4video

